<%= form_with(model: current_user.active_relationships.build, remote: true) do |f| %>
  <%# <input id="followed_id" name="followed_id" type="hidden" value="3" /> %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>
